<h2>{{ user }} Bienvenido... </h2>
<form method="POST">
  {% csrf_token %}
  <p>
    <label>Usuario</label>
    <input type="text" name="username">
    {{ error_username }}
  </p>
  <p>
  <label>Email</label>
  <input type="email" name="email">
  {{ error_email}}
  </p>
  <input type="submit" value="Guardar">
</form>