{% if user and not user.is_anonymous %}
  <a>Hello </a>
  <br>
  <a href="/logout">Logout</a>
{% else %}
  <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
{% endif %}

{% if user.is_authenticated %}
  <h2>{{ user.username }}</h2>
  <img src="{{ user.traveler.avatar }}">
{% endif %}